@import url(https://fonts.googleapis.com/css?family=Nunito);#homepage {
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0.7) 75%, #161616 100%), url(/images/background1.jpeg?6533e3581df89b8eaea379912b0b3b45) no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
}

.homepageInformation {
  height: 100vh;
  min-height: 500px;
  color: white;
}

.btn-custom {
  text-transform: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-style: none;
  background-color: #fff;
}

.btn-custom:focus {
  outline: none;
}

a.btn-custom {
  padding: 0;
  text-decoration: none !important;
}

#miniChart {
  margin-bottom: 20px;
}

.noListStyling {
  font-size: 100px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.test {
  background-color: red;
}

