#homepage {
        background: linear-gradient(to bottom, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0.7) 75%, #161616 100%), url("../img/background1.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
         -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

            .homepageInformation {
            height: 100vh;
            min-height: 500px;
            color:white;
            }